<app-navbar-style-one *ngIf="service.isAuthenticated==false"></app-navbar-style-one>
<app-dashboard-sidemenu *ngIf="service.isAuthenticated==true"></app-dashboard-sidemenu>
<!-- Start Page Title Area -->
<div [ngClass]="service.isAuthenticated==true?'main-content d-flex flex-column':''">
    <app-dashboard-navbar *ngIf="service.isAuthenticated==true"></app-dashboard-navbar>
    <div class="page-title-bg" style="padding-top: 180px;">
        <div class="container">
            <h2>Trouver votre trajet</h2>
            <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
                <div class="row m-0 align-items-center">
                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="form-group">
                            <label><i class="flaticon-pin"></i></label>
                            <ngx-select-dropdown (change)="selectionChanged1($event)" tabindex="0" [multiple]="false"
                                [(ngModel)]="villeD" name="villeD" [config]="config1" [options]="options">
                            </ngx-select-dropdown>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="form-group">
                            <label><i class="flaticon-pin"></i></label>
                            <ngx-select-dropdown (change)="selectionChanged2($event)" tabindex="0" [multiple]="false"
                                [(ngModel)]="villeA" name="villeA" [config]="config" [options]="options">
                            </ngx-select-dropdown>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 p-0">
                        <div class="form-group category-select">
                            <label style="margin-top: -18px;"><i class="flaticon-calendar"></i></label>
                            <input type="date" name="date" id="" dynamic-date-input placeholder="Date de voyage"
                                class=" opacity-50 border-0" [(ngModel)]="Dt" (change)="selectionChanged3($event)">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 p-0">
                        <div class="submit-btn">
                            <button type="submit">Chercher</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Listings Area -->
    <section class="listings-area ptb-100">
        <app-loading *ngIf="showSpinner"></app-loading>
        <div class="container" *ngIf="!showSpinner">
            <div class="listings-grid-sorting row align-items-center">
                <div class="col-lg-5 col-md-4 result-count">
                    <p>Nous avons trouvé <span class="count">{{trajets?.length}}</span> trajets</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6"
                    *ngFor="let trajet of trajets | paginate: { itemsPerPage: 10, currentPage: gridListings }">
                    <div class="single-listings-box">
                        <div *ngIf="trajet.highway">
                            <div>
                                <iframe class="map" width="100%" height="400" frameborder="0" scrolling="yes"
                                    marginheight="0" marginwidth="0"
                                    [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.google.com/maps/embed/v1/directions?key=AIzaSyDC4Qo-Gwicfmb2-LBk-jYdbTp5NnATEuY&origin='+trajet.villeD+'&destination='+trajet.villeA)"
                                    webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                        <div *ngIf="!trajet.highway">
                            <div>
                                <iframe class="map" width="100%" height="400" frameborder="0" scrolling="yes"
                                    marginheight="0" marginwidth="0"
                                    [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.google.com/maps/embed/v1/directions?key=AIzaSyDC4Qo-Gwicfmb2-LBk-jYdbTp5NnATEuY&origin='+trajet.villeD+'&destination='+trajet.villeA+'&avoid=highways')"
                                    webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                        <div class="listings-content">
                            <div class="author">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/user1.jpg" alt="image" *ngIf="!trajet.car.owner.photoProfile">
                                    <img src="{{service.host}}/download/{{trajet.car.owner.photoProfile.id}}"
                                        alt="image" *ngIf="trajet.car.owner.photoProfile">
                                    <span>{{trajet.car.owner.nom}}</span>
                                </div>
                            </div>
                            <h3><a [routerLink]="['/trajet',trajet.id]" routerLinkActive="router-link-active"><i class="flaticon-pin"
                                        style="color:#0ec6c6; font-size: 17px;"></i>{{trajet.villeD}} <i
                                        class="flaticon-right-arrow s2" style="color:#0ec6c6;"></i><i
                                        class="flaticon-pin"
                                        style="color:#0ec6c6;font-size: 17px;"></i>{{trajet.villeA}}</a></h3>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <span class="status Open Now">
                                        <i class="flaticon-clock" style="font-size: 17px;"></i>
                                        {{trajet.heure}}</span>
                                </div>
                                <div class="price" *ngIf="trajet.highway">
                                    Autoroute
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <!-- <i class='{{Star.icon}}' *ngFor="let Star of Content.rating;"></i> -->
                                    <span> <i class='bx bx-group'></i> {{trajet.nbrePlace}} Places</span>
                                </div>
                                <div class="price">
                                    <i class='bx bx-purchase-tag'></i>Prix : {{trajet.prix}} MAD
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12" *ngIf="trajets.length>0">
                    <div class="pagination-area text-center">
                        <pagination-controls (pageChange)="gridListings = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Listings Area -->

    <app-footer-style-two></app-footer-style-two>
</div>